iframe {
    width: 50%; 
    height: 50%; 
    border: 0;
}

.rubik-scribble {
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: 400;
}
h1,h2{
    font-family: 'Rubik Scribble', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: brown;
}
p{
    font-family: ;
}
.fa-solid.fa-mug-saucer {
    color: rgb(245, 3, 3);
    font-size: 2rem;
    margin-left: 20px;
}
